@media (orientation: landscape) {
    .pagination{
        text-align: center;
    }
    .paginated{
        margin: 1em;
    }
.mainBody{
    position: fixed;
    background-color: #fff6f8;
    height: calc( 100% - 3em );
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
}
}
@media (orientation: portrait) {
    .paginated{
        margin: 1em;
    }
    .mainBody{
        position: fixed;
        background-color: #fff6f8;
        height: calc( 100% - 7em );
        width:100%;
        display:flex;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
    .pagination{
        font-size: 1em !important;
        text-align: center;
    }
}
#mainBody::-webkit-scrollbar {
    width: .5em;
}

#mainBody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#mainBody::-webkit-scrollbar-thumb {
    background-color: #ff5252;
    outline: 1px solid slategrey;
}
.margin-left{
    margin-left: 1em;
}
.margin-right{
    margin-right: 1em;
}
.green{
    color:white;
}
.black{
    color:white !important;
    background-color: #24292e !important;
}
.black:hover{
    color:#ff5252 !important;
    background-color: #3f464d !important;
}
