.loads-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;

    margin: 0 auto;
    align-items: center;
    /* align-content: center; */
    /* align-self: center; */
    display: flex;
    height: 100%;
    /* width: 50%; */
    /* height: 50%; */
  }
  .loads-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #ff5252;
    border-radius: 50%;
    animation: loads-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ff5252 transparent transparent transparent;
  }
  .loads-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loads-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loads-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loads-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
@media (orientation: landscape) {
    #feedList {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        width: 100%;
        margin-left: 16em;
    }

    .feedItem {
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: left;
        padding: 16px;
        margin-top: 8px;
        background-color: #fff;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        font-size: 14px;
        line-height: 1.5;
        color: #24292e;
    }

    .feedItemPlatform {
        margin: 0;
        font-weight: 600;
        line-height: 1.25;
        color: #24292e;
        box-sizing: border-box;
    }

    .feedItemDescription {
        overflow: auto;
        margin-bottom: 10px;
        margin-top: .8em;
        color: #586069;
        font-size: 14px;
        line-height: 1.5;
    }

    .feedItemDescription:hover {
        color: #ff5252;
    }

    .generic {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        color: #586069;
        line-height: 1.5;
    }

    .feedItemType {
        font-size: 12px;
        margin-top: 8px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .feedItemDate {
        font-size: 12px;
        margin-top: 8px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .source {
        margin-top: 0;
        margin-bottom: 0;
        padding: .3em;
        border-radius: 5px;
        background-color: #24292e;
    }

    .source:hover {
        color: #ff5252;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 1);
    }

    .generic2 {
        display: block;
        flex-flow: row;
        align-content: space-between;
    }

    #columnFeed {
        width: 100%;
        padding-right: 1em;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
}

@media (orientation: portrait) {
    #feedList {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        width: 100%;
        margin-left: 1em;
    }

    .feedItem {
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: left;
        padding: 16px;
        margin-top: 8px;
        background-color: #fff;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        font-size: 2.5em;
        line-height: 1.5;
        color: #24292e;
    }

    .feedItemPlatform {
        margin: 0;
        font-weight: 600;
        line-height: 1.25;
        color: #24292e;
        box-sizing: border-box;
    }

    .feedItemDescription {
        overflow: auto;
        padding: 1em;
        margin-bottom: .8em;
        /* margin-bottom: 10px; */
        margin-top: .8em;
        color: #586069;
        font-size: .7em;
        line-height: 1.5;
        border-radius: 10px;
    }

    .feedItemDescription:hover {
        color: #ff5252;
    }

    .generic {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        color: #586069;
        line-height: 1.5;
    }

    .feedItemType {
        font-size: .6em;
        margin-top: 8px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .feedItemDate {
        font-size: .6em;
        margin-top: 8px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .source {
        margin-top: 0;
        margin-bottom: 0;
        padding: .3em;
        border-radius: 5px;
        background-color: #24292e;
    }

    .source:hover {
        color: #ff5252;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 1);
    }

    .generic2 {
        display: block;
        flex-flow: row;
        align-content: space-between;
    }

    #columnFeed {
        width: 100%;
        padding-right: 1em;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex.row {
    flex-flow: row;
}

.button {
    color: #fff;
    text-shadow: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: .3em .6em;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    line-height: 1.15;
}

.border-red {
    background: transparent none !important;
    -webkit-box-shadow: 0 0 0 1px #ef5350 inset !important;
    color: #ef5350;
}

.red {
    background: #ef5350;
}

.gray {
    background: #e0e1e2 none;
    color: black;
}

.border-gray {
    background: transparent none !important;
    -webkit-box-shadow: 0 0 0 1px #e0e1e2 inset !important;
    color: #e0e1e2;
}

.orange {
    background: #ff6e40;
    color: black;
}

.border-orange {
    background: transparent none !important;
    -webkit-box-shadow: 0 0 0 1px #ff6e40 inset !important;
    color: #ff6e40;
}

.green {
    background: #00e676;
    color: black;
}

.border-green {
    background: transparent none !important;
    -webkit-box-shadow: 0 0 0 1px #00e676 inset !important;
    color: #00e676;
}

.left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}