
@media (orientation: landscape) {
    
    .profilePic {
        width: 12em;
        height: 12em;
        border-radius: 100%;
        margin: 0 auto;
    }

    .containerProfile {
        margin: 0 auto;
        margin-top: 3em;
        display: flex;
        flex-flow: column;
        align-self: center;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: .7em;
        width: 100%;
    }

    .icoNested {
        justify-content: center;
        font-size: .7em;
        padding-left: 24px;
        display: flex;
        flex-wrap: nowrap;
        flex-flow: row;
        align-content: center;
        align-items: center;
    }

    .bookmark {
        width: 2em;
        height: 2em;
        padding-right: 2em;
        object-fit: contain !important;
    }

    #subs {
        text-align: center;
        height: 10em;
        width: 100%;
        margin: 0 auto;
    }

    .scroll {
        overflow-y: scroll;
    }

    .scroll::-webkit-scrollbar {
        width: .1em;
    }

    .scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #ff5252;
        outline: 1px solid slategrey;
    }

    .profileData {
        bottom: 0;
        width: 100%;
        position: fixed;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
        border-radius: 20px;
        align-self: center;
        text-align: center;
        font-size: 2em;
    }

    .profileData>p {
        padding: .5em;
    }
}

@media (orientation: portrait) {
    .profilePic {
        width: 30em;
        border-radius: 100%;
        margin: 0 auto;
    }

    .containerProfile {
        margin: 0 auto;
        margin-top: 8em;
        display: flex;
        flex-flow: column;
        align-self: center;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: .7em;
        width: 100%;
    }

    .icoNested {
        justify-content: center;
        font-size: .7em;
        padding-left: 24px;
        display: flex;
        flex-wrap: nowrap;
        flex-flow: row;
        align-content: center;
        align-items: center;
    }

    .bookmark {
        width: 2em;
        height: 2em;
        padding-right: 2em;
        object-fit: contain !important;
    }

    #subs {
        text-align: center;
        height: 15em;
        width: 100%;
        margin: 0 auto;
    }

    .scroll {
        overflow-y: scroll;
    }

    .scroll::-webkit-scrollbar {
        width: .1em;
    }

    .scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #ff5252;
        outline: 1px solid slategrey;
    }

    .profileData {
        border-radius: 10px;
        bottom: 12em;
        height: 30%;
        width: 100%;
        position: fixed;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
        border-radius: 20px;
        align-self: center;
        text-align: center;
        font-size: 3em;
    }

    .profileData>p {
        padding: .5em;
    }
}

body {
    background-color: #fff6f8;
}