@media (orientation: landscape) {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }
  .column {
    flex-flow: column;
  }
  .button.icon {
    padding: 0.3em 0.3em;
  }
  .img.main {
    width: 230px;
    height: 230px;
    border: 1px solid #e1e4e8;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
  }
  .container.img {
    width: 230px;
  }
  .title {
    color: #24292e;
    white-space: normal !important;
    font-size: 14px !important;
    padding-top: 4px !important;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border: 0;
    display: inline-block;
    font-size: inherit;
    padding: 0;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    word-break: break-word;
    background-color: #fff;
  }
  .contained {
    padding: 8px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border: 1px solid #e1e4e8 !important;
  }
  .no-top {
    border-top: 0 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  .no-bottom {
    border-bottom: 0 !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .main.left {
    padding-right: 1vw !important;
    float: left !important;
  }
  .button.icon.center.edit {
    width: 230px;
  }
  .text.username {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
  .text.email {
    color: #0366d6;
    text-decoration: none;
    background-color: transparent;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    border-color: #eaecef !important;
    border-top: 1px solid #e1e4e8 !important;
    font-size: 14px;
    line-height: 1.5;
    width: 230px;
  }
  .text {
    font-family: "Roboto", sans-serif;
  }
  .page {
    padding-right: 16px !important;
    padding-left: 16px !important;
    margin-top: 24px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1012px;
    box-sizing: border-box;
    content: "";
    display: table;
    margin-bottom: 7.875em;
  }
  .tab {
    float: left !important;
    padding-left: 8px !important;
    box-sizing: border-box;
  }
  .icoNested {
    font-size: 14px;
    padding-left: 24px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: left;
    font-family: "Roboto", sans-serif;
    padding-top: 1em;
  }
  #SUBSCRIBERS {
    padding: 16px !important;
    width: 359px;
    border-color: #d1d5da !important;
    /* border-radius: 3px !important;
    border: 1px solid #e1e4e8 !important; */
    background-color: #fff;
    border-color: #eaecef !important;
    padding-top: 0.5em !important;
    min-height: 378px !important;
    max-height: 378px !important;
  }
  .center {
    text-align: center;
    padding-bottom: 1em;
  }
  .left {
    text-align: left;
  }
  .padded {
    padding: 1em !important;
  }
}
@media (orientation: portrait) {
  .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .row{
    flex-flow: column !important;
  }
  .column {
    flex-flow: column;
  }
  .button.icon {
    padding: 0.3em 0.3em;
  }
  .img.main {
    width: 80vw;
    height: 80vw;
    border: 1px solid #e1e4e8;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
  }
  .container.img {
    /* width: 230px; */
    width: 80vw;
  }
  .title {
    color: #24292e;
    white-space: normal !important;
    font-size: 14px !important;
    padding-top: 4px !important;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    border: 0;
    display: inline-block;
    font-size: inherit;
    padding: 0;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    word-break: break-word;
    background-color: #fff;
  }
  .contained {
    padding: 8px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border: 1px solid #e1e4e8 !important;
  }
  .no-top {
    border-top: 0 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  .no-bottom {
    border-bottom: 0 !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .main.left {
    /* padding-right: 16px !important; */
    float: left !important;
  }
  .button.icon.center.edit {
    width: 230px;
  }
  .text.username {
    text-align: center;
    color: #666;
    font-size: 6vw;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    width: 80vw;
  }
  .main {
    width: 100%;
  }
  .button.icon.center.edit {
    width: 80vw;
    /* height: 6vw; */
    font-size: 5vw;
  }
  .text.email {
    color: #0366d6;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    border-color: #eaecef !important;
    border-top: 1px solid #e1e4e8 !important;
    font-size: 5vw;
    line-height: 1.5;
    width: 80vw;
  }
  .text {
    font-family: "Roboto", sans-serif;
  }
  .page {
    padding-right: 16px !important;
    padding-left: 16px !important;
    margin-top: 24px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1012px;
    box-sizing: border-box;
    content: "";
    margin-bottom: 7.875em;
  }
  .tab {
    margin-top: 5vw;
    float: left !important;
    padding-left: 8px !important;
    box-sizing: border-box;
  }
  .icoNested {
    font-size: 2vw;
    padding-left: 24px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: left;
    font-family: "Roboto", sans-serif;
    padding-top: 1em;
  }
  #SUBSCRIBERS {
    padding: 16px !important;
    border-color: #d1d5da !important;
    /* border-radius: 3px !important;
        border: 1px solid #e1e4e8 !important; */
    background-color: #fff;
    border-color: #eaecef !important;
    padding-top: 0.5em !important;
  }
  .center {
    text-align: center;
    padding-bottom: 1em;
  }
  .left {
    text-align: left;
  }
  .padded {
    padding: 1em !important;
  }
  .title.contained {
    margin: 0 !important;
    width: 80vw !important;
    font-size: 5vw !important;
    margin-bottom: 2vw !important;
  }
}
.profileBody{
  margin:0 auto;
}