<div id="selectFilter" class="mobileSelect">

        <div class="containers" onclick="change_filter(); myFunction(this); console.log('baka!')">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
  
        <div id="filter">
          <div class="searchBar">
            <input type="text" placeholder="Search.." name="search" data-query-name="q" value="" id="searchInput" />
          </div>
          <div class="scroll">
            <div id="TYPES">
              <!-- <script src="/file../JS/filterList.js"></script> -->
            </div>
            <p class="feedTitle2">Subscriptions</p>
            <div class="line lowerMargin"></div>
            <div id="SUBSCRIBERS">
              <!-- <script src="/file../JS/subscriptionList.js"></script> -->
            </div>
          </div>
        </div>
      </div>