<div class="special_menu "id = "menuUser">
        <div class="headerUsername">
            <p class="blackMobile">
                {{LOGGEDUSERNAME}}
            </p>
        </div>
        <div role="none" class="dropdown-divider"></div>
        <a class="blackLink" onclick='window.location="{{PROFILEURL}}"'>
            <div class="headerProfile headMenuItem "
                >{{LOGGEDMSG}}</div
            >
        </a>
        <a class="blackLink" href="/dash">
            <div class="headerUserDashboard headMenuItem" 
                >{{DASHBOARD}}</div
            >
        </a>
        <a class="blackLink" href="/dash">
            <div class="headerUserHelp headMenuItem ">Help</div>
        </a>
        <div role="none" class="dropdown-divider"></div>
        <a class="blackLink" href="/GET/logout">
            <div class="headerUserLogout headMenuItem">
                {{AUTH}}
            </div>
        </a>
    </div>