<div class="special_menu" id="menuUser">
        <div class="headerUsername headMenuItem">
            <p class="blackMobile">
                Signed in as ionut270
            </p>
        </div>
        <div role="none" class="dropdown-divider"></div>
        <div class="headerProfile headMenuItem">
            <a class="blackLink" href="/profile"
                >Your profile</a
            >
        </div>
        <div class="headerUserDashboard headMenuItem">
            <a class="blackLink" href="/dash"
                >Your dashboard</a
            >
        </div>
        <div class="headerUserHelp headMenuItem">
            <a class="blackLink" href="/dash">Help</a>
        </div>
        <div role="none" class="dropdown-divider"></div>
        <a class="blackLink" href="/login">
            <div class="headerUserLogout headMenuItem">
                Logout
            </div>
        </a>
    </div>