<div id="header" onclick="changeHeaderMenu();">
    <p id="headerLogo">codebt</p>

    <div id="headerMenu" class="contain">
    </div>
    <div id="headerUserContain" class="headerUser contain2">
        <div class="headerSigned">
            <div class="headerUserIcon">
                <div id="USERDROPDOWN">
                </div>
                <img
                    onclick="userProfileTrigger();"
                    class="headerUserIconPng"
                    src="https://scontent.fias1-1.fna.fbcdn.net/v/t1.0-9/48363109_1982973948438243_5096486795630084096_n.jpg?_nc_cat=101&_nc_ht=scontent.fias1-1.fna&oh=9d9f2c9c56688a2adfa543d554740397&oe=5D0482B6"
                />
                <div class="triangle"></div>
                <!--Express provides a nice framework to teach node html servers about file systems, and routes, and streams, and pipes and the rest. Without express you need to teach the html server about your png files, and css, and js, etc, yourself.-->
            </div>
        </div>
    </div>
</div>