<!-- <div class="containerProfile">
  <img
    class="profilePic"
    src="https://scontent.fias1-1.fna.fbcdn.net/v/t1.0-9/48363109_1982973948438243_5096486795630084096_n.jpg?_nc_cat=101&_nc_ht=scontent.fias1-1.fna&oh=9d9f2c9c56688a2adfa543d554740397&oe=5D0482B6"
  />
  <div class="profileData">
    <p class="profileUsername">{{ USERNAME }}</p>
    <p class="profileMail">{{ EMAIL }}</p>
    <div role="none" class="dropdown-divider"></div>
    <p class="subscribedTo">Subscribed to</p>
    <div role="none" class="dropdown-divider"></div>
    <div id="SUBSCRIBERS" class="scroll"></div>
  </div>
</div> -->

<div class="flex row page">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
  />
  <div class="flex column main left">
    <div class="container img">
      <img
        class="img profile main"
        src="https://scontent.fias1-1.fna.fbcdn.net/v/t1.0-9/48363109_1982973948438243_5096486795630084096_n.jpg?_nc_cat=101&_nc_ht=scontent.fias1-1.fna&oh=9d9f2c9c56688a2adfa543d554740397&oe=5D0482B6"
      />
      <!-- img -->
      <p class="title contained no-top">{{TITLE}}</p>
      <!-- user title -->
    </div>

    <div class="container">
      <!-- data -->
      <h1 class="text username">{{USERNAME}}</h1>
      <p class="text email">{{EMAIL}}</p>
      <div class="edit user data">
          <button class="button icon center edit red ">{{EDIT OR SUBSCRIBE}}</button>
          <!-- edit component -->
        </div>
    </div>
  </div>
  <div class="tab">
    <p class="text left contained padded title no-bottom"  style="
    margin-bottom: 0px !important;">Subscribed to</p>
    <div id="SUBSCRIBERS" class="scroll grid-item contained no-top"></div>
    <!-- other -->
  </div>
</div>
